version: '3.8'

services:
    # Backend service
    backend:
        build:
            context: .
            dockerfile: ./backend/Dockerfile
        volumes:
            - ./backend:/var/www/html
        ports:
            - '8080:80'
        networks:
            - app-network

    # Frontend service
    frontend:
        build:
            context: .
            dockerfile: ./frontend/Dockerfile
        volumes:
            - ./frontend:/app
        ports:
            - '3000:3000'
        networks:
            - app-network

    # Database service (MySQL, jika dibutuhkan)
    db:
        image: mysql:5.7
        environment:
            MYSQL_ROOT_PASSWORD:
            MYSQL_DATABASE: sistem-poin-pelanggaran
        volumes:
            - db_data:/var/lib/mysql
        networks:
            - app-network

networks:
    app-network:
        driver: bridge

volumes:
    db_data:
