<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Remove trailing slashes (optional)
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.+)/$ /$1 [L,R=301]

    # Rewrite all requests to index.php except for actual files and directories
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>